.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    height: 70px;
    margin-left: 7%;
}

.navbar-list {
    width: 40%;
    margin-left: 2%;
}

.navbar-list ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

li {
    font-weight: bold;
}

.navbar-button {
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    background-color: #fcc42e;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}

