.reference{
    margin: 2% 7% 0 7%;
}
.reference h4 {
    text-align: center;
    color: #fcc42e;
    font-weight: 400;
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    margin-top: 5%;
    display:flex;
}
.nav button{
    background-color: white;
    border-top: 4px solid #d7cffe;
    border-left: white;
    border-bottom: white;
    border-right: white;
    border-radius: 20px;
    width: 245px;
    text-align: center;
    height: 50px;
    padding-top: 30px;
   font-size: large;
}
.nav button:focus{
      background-color: #d7cffa;
      border-radius: 40px 40px 0 0;
}
.PlaceHolder{
    height: 500px;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    border:4px solid #d7cffa;
    border-radius: 40px;
    display: flex;
}
.pi{
    display: flex;
    align-content: flex-end;
   
}
.p{
    display: flex;
}
.i{
    background-color: #d7cffa;
    width: 50%;
    height: 50%;
}